@{
    ViewBag.Title = "Create new Product";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Create new Product:</h3>
                </div>
                <!-- /.box-header -->
                <div class="col-md-12">
                    <div class="nav-tabs-custom">
                        <div class="tab-pane" id="settings">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="inputTitle" placeholder="50 char maximum">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputShort" class="col-sm-2 control-label">Short Description</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="inputShort" placeholder="50 char maximum">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputFull" class="col-sm-2 control-label">Full Description</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="inputFull">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputImg" class="col-sm-2 control-label">Teaser Image</label>
                                    <div class="col-sm-10">
                                        <image src=""/>
                                        <input type="file" class="form-control"
                                               id="inputImg" accept="image/*">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button" id="btnSubmit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script type="text/javascript">
    $(document).ready(function () {
        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });

        $('#btnSubmit').on('click', async function () {
            var files = document.querySelector('#inputImg').files;

            var formData = {
                Id: '@Model.Id',
                Title: $("#inputTitle").val(),
                ShortDesc: $("#inputShort").val(),
                FullDesc: $("#inputFull").val(),
                ImageUrl: (files.length > 0) ? await toBase64(files[0]) : ""
            };
            //console.log(formData);

            $.ajax({
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "POST",
                url: "/Product/Create",
                data: JSON.stringify(formData),
                success: function(result) {
                    if (result.success) {
                        alert("Product saved!");
                    } else {
                        alert(result.error);
                    }
                },
                error: function () { }
            });
        });
    });
</script>